<!-- src\app\pages\home-page\home-page.component.html -->

<main class="home-page">
  <!-- Loading -->
  <div *ngIf="loading" class="loader">
    <p>Loading furniture...</p>
  </div>

  <section *ngIf="!loading && furnitures().length > 0">
    <div class="card">
      <p-dataview #dv [value]="furnitures()">
        <ng-template #list let-items>
          <div class="grid grid-cols-12 gap-4 grid-nogutter p-4">
            <div
              *ngFor="let item of items; let first = first"
              class="col-span-12 md:col-span-6 xl:col-span-4"
            >
              <div
                class="p-card shadow-lg rounded-lg overflow-hidden bg-[var(--prime-menubar-background)]"
              >
                <div class="p-card-header p-3 font-bold text-lg">
                  {{ item.name }}
                </div>
                <div class="p-card-body p-3">
                  <p class="mb-2 text-sm">
                    {{ item.description }}
                  </p>
                  <div class="flex justify-between mb-2 text-sm">
                    <span>Size: {{ item.size }}</span>
                    <span>Colour: {{ item.colour }}</span>
                  </div>
                  <div class="flex justify-between mb-2 text-sm">
                    <span>Qty: {{ item.quantity }}</span>
                    <span>Price: €{{ item.price.toFixed(2) }}</span>
                  </div>
                  <p-tag
                    [severity]="getSeverity(item)"
                    [value]="getDisplayStatus(item)"
                    class="mt-2"
                  ></p-tag>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataview>
    </div>
  </section>

  <!-- Empty/Error States -->
  <p
    *ngIf="!loading && furnitures().length === 0 && !error"
    class="text-center mt-6"
  >
    No furniture available at the moment.
  </p>
  <p *ngIf="error" class="text-center mt-6">
    An error occurred while loading furniture.
  </p>
</main>
