<!-- src\app\components\navbar\navbar.component.html -->

<p-menubar [model]="menuItems">
  <ng-template #start>
    <a [routerLink]="['/']">
      <img src="assets/logo.png" alt="Logo canapé" class="logo" />
      <h1>LUXURY CAMPS</h1>
    </a>
  </ng-template>

  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
      <i
        *ngIf="item.items"
        [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
      ></i>
    </a>
  </ng-template>
  <ng-template #end>
    <p-button
      [icon]="colorMode === 'dark' ? 'pi pi-sun' : 'pi pi-moon'"
      [rounded]="true"
      [ariaLabel]="
        colorMode === 'dark' ? 'Switch to light mode' : 'Switch to dark mode'
      "
      (onClick)="toggleDarkMode()"
    />
  </ng-template>
</p-menubar>
