<!-- src\app\components\navbar\navbar.component.html -->

<p-menubar [model]="menuItems">
  <ng-template #start>
    <a [routerLink]="['/']" class="flex items-center p-menubar-item-link">
      <img
        src="assets/logo.png"
        alt="Logo canapé"
        class="w-12 h-12 object-contain"
      />
      <h1>Abyss</h1>
    </a>
  </ng-template>

  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <p-button
      [icon]="colorMode === 'dark' ? 'pi pi-sun' : 'pi pi-moon'"
      [rounded]="true"
      [ariaLabel]="
        colorMode === 'dark' ? 'Switch to light mode' : 'Switch to dark mode'
      "
      (onClick)="toggleDarkMode()"
    />
  </ng-template>
</p-menubar>
